
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#css{
    background-image: url(images/firstbg1.png);
    width: auto;
    height: auto;
    
}